* {
    box-sizing: border-box;
}
body {
    color: black;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-image: url("imgs/redback.png");
}
img {
    max-width: 30%;
    margin: auto;
}
.h2h2 {
    color: #14d3ff;
    border: 16px ridge;
    border-color: #ff0c0c;
    background-color: #ffae00;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.nav-bar {
    list-style-type: none;
    margin: 0;
}
.nav-bar-list {
    float: left;
    margin-top: 15px;
    padding-top: 10px;
}
.nav-bar-link {
    color: #00bfff;
    font-size: 24px;
    padding: 8px;
    margin: 5px;
    text-decoration: none;
    background-color: #6d6d6d;
    border-style: outset;
    border-color: #6b6b6b;
    border-width: 0px 2px 2px 0px;
    box-shadow: 2px 2px 2px black;
}
.nav-bar-link:hover {
    color: white;
    font-size: 24px;
    padding: 8px;
    margin: 5px;
    text-decoration: none;
    background-color: #afafaf;
    border-style: outset;
    border-color: #adadad;
    border-width: 0px 3px 3px 0px;
    box-shadow: 3px 3px 3px black;
}
.main-header {
    padding-top: 100px;
    height: 100px;
    font-size: 2em;
    background-size: cover;
}